/*global*/


* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

img {
    width: 50px;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 8rem;
}

h5 {
    font-size: 2.6rem;
}

h6 {
    font-size: 2.4rem;
}

h1,
h2 {
    color: rgba(212, 89, 23, 1);
    text-shadow: 1px 1px 3.5px rgba(212, 89, 23, 0.37);
}


p,
em {
    font-size: 1.6rem;
}

em {
    color: rgba(212, 89, 23, 1);
}

main h2,
footer h2 {
    margin-top: 15%;
    margin-left: 20%;
    margin-bottom: 5%;
}

body {
    background: linear-gradient(0deg, rgb(240, 225, 205) 0%, rgb(255, 241, 230) 18%, rgba(255, 250, 244, 1) 100%);
}


/*header grid and specific instructions*/

header {
    display: grid;
    grid-template-columns: 40% 5% 55%;
    height: 95vh;
    padding-left: 20%;
    background: linear-gradient(1deg, rgb(248, 213, 180) 8%, rgb(255, 200, 117) 40%, rgba(255, 167, 84, 1) 81%, rgba(212, 89, 23, 1) 100%);
}

header h5 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3.5px rgba(212, 89, 23, 0.37);
}


.homeBgImage>img {
    height: 95vh;
    width: 100%;
    padding-left: 2%;
}

.homeBgImage {
    mask-image: linear-gradient(90deg, transparent 10%, #000 60%)
}

.introHome,
.extLinksTop {
    padding-top: 60vh;
    text-align: right;
}

.extLinksTop img {
    width: 4em;
    padding-right: 1.5em;
}

header p::first-line {
    font-weight: bold;
    color: rgba(212, 89, 23, 1);
}

/*nav*/

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    padding-left: 25%;
}

li {
    float: left;
    margin-right: 2%;
}

li:last-child {
    margin-right: 0;
}

li a {
    display: block;
    height: 5vh;
    width: 15vh;
    color: rgba(212, 89, 23, 1);
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    font-weight: bolder;
}

li a:hover,
li a:active {
    background-color: rgba(212, 89, 23, 1);
    color: rgb(255, 255, 255);
}

/*forma & exp table*/

.formaBlock,
.expBlock {
    margin: 15%;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 17% 80% 7%;
}


.formaBlock img,
.expBlock img {
    padding-right: 5%;
    padding-left: 5%;
}

.formaBlock p,
.formaBlock h5,
.expBlock p,
.expBlock h5 {
    padding-left: 10%;
    margin-bottom: 2rem;
}

.formaBlock h5,
.formaBlock .date,
.formaBlock .projIcon,
.expBlock h5,
.expBlock .date,
.expBlock .projIcon {
    margin-top: 5rem;
}

.proj,
.date {
    color: rgb(250, 182, 81);
}

.date {
    grid-column: 1;
    text-align: right;
}

.proj {
    font-size: 2rem;
    grid-column: 3;
    grid-row: 0;
    margin-bottom: -1rem;
    margin-right: 10%;
}

/*competences*/

.compBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr 6fr;
    padding-left: 10%;
    padding-right: 10%;
}

.compBlock img,
.compBlock h6 {
    width: 3em;
    font-size: 1.5rem;
}

.compBlock h5 {
    margin-top: 2rem;
    padding-left: 25%;
}

.ssTit {
    text-orientation: mixed;
    writing-mode: vertical-lr;
}

.langIcon,
.softIcon {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;

}

.compBlock p {
    padding-left: 30%;
}

.compBlock p:first-child {
    padding-top: 7%;
}

/* interests*/

.hobBlock {
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    color: rgba(212, 89, 23, 1);

}


.hobBlock>div {
    display: flex;
    flex-flow: column wrap;
    height: 8em;
    width: 100%;
    margin-left: 10em;
}

.hobBlock>div:first-child {
    margin-left: 0;
}

.hobBlock h6 {
    font-size: 2em;
}

.hobBlock img {
    width: 10em;
    margin-right: 3em;
}

/*FOOTER*/

footer {
    margin-top: 25em;
    background: linear-gradient(179deg, rgb(248, 213, 180) 8%, rgb(255, 200, 117) 40%, rgba(255, 167, 84, 1) 81%, rgba(212, 89, 23, 1) 100%);
    -webkit-mask-image: -webkit-gradient(linear, center top, center bottom,
            color-stop(0.20, rgba(0, 0, 0, 1)),
            color-stop(0.00, rgba(0, 0, 0, 0)));
    mask-image: -webkit-gradient(linear, center top, center bottom,
            color-stop(0.2, rgba(0, 0, 0, 1)),
            color-stop(0.00, rgba(0, 0, 0, 0)));
}

footer h2 {
    padding-top: 10rem;
}

footer p {
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 3.5px rgba(212, 89, 23, 0.37);
}

.contBlock {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 8rem 27rem;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 8rem;
    text-align: right;
}

.contBlock img {
    width: 10%;
    margin: 0.2rem;
}


.contBlock p {
    padding: 10%;
}

footer .linksBot {
    grid-row: 2;
    align-items: center;
    justify-items: center;
    padding-right: 10%;
}

form {
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

textarea {
    height: 15rem;
    padding: 0.5rem;
}

input {
    height: 2rem;
    padding: 0.5rem;
}

input,
textarea {
    font-size: 1.2rem;
    box-shadow: 1px 1px 3.5px rgba(212, 89, 23, 0.57);
}

input:focus,
textarea:focus {
    border: solid rgb(255, 255, 255);
    color: rgba(212, 89, 23, 1);
}

.sendButt {
    width: 10%;
    height: 10%;
    background-color: rgba(212, 89, 23, 1);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 3.5px rgba(212, 89, 23, 0.57);
}

.sendButt:hover {
    color: rgba(212, 89, 23, 1);
    background-color: rgba(255, 167, 84, 1);
}

footer>p:last-child {
    font-size: 0.8rem;
    font-weight: lighter;
}